html, body {
  background-color: #fdfeed; 
}

h1 {padding: 1rem 2rem;
  border: 3px dotted white;
  padding: 1.65rem 2rem;
  background-color: rgba(165, 210, 255, .4);
  background-image:
    linear-gradient(90deg, rgba(165, 210, 255, .3) 50%, transparent 50%),
    linear-gradient(rgba(165, 210, 255, .3) 50%, transparent 50%);
  background-size: 40px 40px;
  text-align: center;
}

.inputs {
 padding: 1em;
 background-color: #e3f6f5;
 border-left: 10px solid #ffd803;
 font-weight: bold;
}

.buttons {
  background-color: #ffd700;
  color: #000;
  border-radius: 10px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 0.8em;
  box-shadow: 0 5px 0 #b8860b;
}

.buttons:hover {
  color: #000;
  opacity: 0.6;
}

.buttons_total {
   text-align: center;
}

.canvas_wrapper {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
